.products {
  display: grid;
  grid-area: 3/2/7/3;
}

.productHeaderTitle {
  font-size: 1.5rem;
  padding-top: 1rem;
  font-weight: normal;
  justify-self: center;
  align-self: flex-start;
}

@media (max-width: 480px) {
  .products {
    grid-area: 5/1/6/2;
  }
}
