.products {
  display: grid;
}

.header {
  font-size: 2rem;
  padding-top: 3rem;
  font-weight: normal;
  justify-self: center;
}

@media (max-width: 480px) {
  .products {
    grid-area: 4/1/4/2;
  }
}
