.categoriesNav {
  display: grid;
  margin-top: 2rem;
  align-self: start;
  justify-self: start;
  overflow: hidden;
  border-radius: 0 3px 3px 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: linear-gradient(180deg, #353d3f 0%, #16191a 100%);
}

#opacity {
  opacity: 1;
  transition: opacity 0.2s;
}

.categoriesNav * {
  transition: all 0.5s;
}

/* categories nav btns */

.categoriesBtn {
  border: none;
  display: grid;
  cursor: pointer;
  column-gap: 1rem;
  padding: 0.8rem 2rem;
  grid-template-columns: 1fr auto;
  background-color: rgba(0, 0, 0, 0);
}

.categoriesBtn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.categoriesBtn:active {
  background-color: rgba(255, 255, 255, 0.5);
}

.catList {
  opacity: 0;
}

.categoriesBtn {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

#categoriesShowBtn .categoriesBtnText {
  min-width: auto;
  writing-mode: vertical-lr;
}

#categoriesShowBtn {
  column-gap: 0;
  padding: 2rem 0.8rem;
}

#categoriesShowBtn:hover {
  padding-left: 1.8rem;
}

#categoriesHideBtn:hover .imgDisplayCat {
  transition: all 1s;
  rotate: 270deg;
}

/* images */

.imgArrowDown,
.imgDisplayCat {
  width: 1.2rem;
}

#imgArrowDown {
  display: none;
}

/* btn hide/show */

.categoriesBtnText {
  min-width: 8rem;
  text-align: left;
  color: #f6f6f6;
}

/*  open category item  */

#openCatItem {
  background-color: rgba(255, 255, 255, 0.3);
}

#openCatItem .imgArrowDown {
  rotate: 180deg;
}

#choosedCatItem {
  background-color: rgba(255, 255, 255, 0.6);
}

/*  filters  */
.filtersForm {
  display: grid;
  grid-template-columns: 1fr;
}

.inputContainer {
  display: grid;
  column-gap: 1rem;
  margin-right: 1px;
  margin-bottom: 1px;
  padding: 0.5rem 2rem;
  background-color: #f6f6f6;
  grid-template-columns: auto 1fr auto;
}

.priceInput {
  max-width: 7rem;
  padding: 0.3rem 0.5rem;
  background-color: rgba(0, 0, 0, 0);
}

.inputLabel {
  align-self: center;
}

.btnClear {
  padding: 0;
  display: grid;
  filter: invert(1);
  align-self: center;
  background-color: rgba(0, 0, 0, 0);
}

.btnClear:hover {
  background-color: rgba(0, 0, 0, 0);
}

.btnClear:hover .imgDisplayCat {
  transition: all 1s;
  rotate: 270deg;
}

/*  media  */
@media (max-width: 480px) {
  .categoriesNav {
    margin-top: 0;
    border-radius: 0;
    background: linear-gradient(180deg, #16191a 0%, #353d3f 100%);
  }
  .categoriesBtn {
    padding: 1rem;
  }
  .categoriesBtn:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  #imgArrowDown {
    display: block;
  }

  #categoriesShowBtn .categoriesBtnText {
    writing-mode: horizontal-tb;
  }

  #categoriesShowBtn {
    padding: 1rem;
  }

  #categoriesShowBtn {
    column-gap: 1rem;
  }

  #categoriesShowBtn:hover {
    padding: 1rem;
  }
}
