.categoriesNav {
  opacity: 0;
  display: grid;
  margin-top: 2rem;
  align-self: start;
  background: linear-gradient(180deg, #353d3f 0%, #16191a 100%);
}

#opacity {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.categoriesNav * {
  transition: all 0.5s;
}

/* categories nav btns */

.categoriesBtn {
  border: none;
  display: grid;
  cursor: pointer;
  column-gap: 1rem;
  padding: 0.5rem 2rem;
  grid-template-columns: 1fr auto;
  background-color: rgba(0, 0, 0, 0);
}

.categoriesBtn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.categoriesBtn:active {
  background-color: rgba(255, 255, 255, 0.5);
}

/* images */

.imgArrowDown,
.imgCancel {
  width: 1.2rem;
}

/* btn hide/show */

.categoriesBtnText {
  text-align: left;
  color: #f6f6f6;
}

/*  open category item  */

#openCatItem {
  background-color: rgba(255, 255, 255, 0.3);
}

#openCatItem .imgArrowDown {
  rotate: 180deg;
}
