/* editor */

.editWrap {
  width: 60%;
  margin: auto;
  position: relative;
  border-radius: 5px;
  background-color: #16191a;
}

.editTitle {
  padding: 1rem;
  font-size: 2rem;
  color: #f6f6f6;
  text-align: center;
}

.btnCancel {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  border: none;
  cursor: pointer;
  padding: 0.4rem;
  background-color: rgba(0, 0, 0, 0);
}
.btnCancel img {
  transition: transform 0.5s;
}

.btnCancel:hover img {
  transform: rotate(180deg);
}

.editHr {
  width: 60%;
  margin: auto;
}

/* form */

.editForm {
  margin: auto;
  display: flex;
  padding: 2rem 2rem;
  flex-direction: column;
}

.label {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
}

.labelText {
  font-weight: 400;
  color: #f6f6f6;
  padding-top: 0.5rem;
}

.input {
  width: 80%;
  border-radius: 3px;
  padding: 0.5rem 1rem;
}

/* list */

.radioWrap {
  width: 80%;
  cursor: pointer;
  text-align: left;
  overflow: hidden;
  border-radius: 3px;
  position: relative;
  background-color: #fff;
}

.formValue {
  overflow: hidden;
  background-color: #ccc;
}

.btn {
  width: 100%;
  border: none;
  display: flex;
  cursor: pointer;
  text-align: left;
  overflow: hidden;
  padding: 0.5rem 1rem;
  justify-content: space-between;
}

.btn:hover {
  background-color: #ccc;
}

.arrowDown {
  width: 1rem;
  align-self: flex-end;
  filter: invert(1);
}
