/* ************************ common ************************ */
.sidebarItem {
    overflow: hidden;
    align-self: start;
    border-radius: 0 10px 10px 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* ************************ categories btn  ************************ */
.btnDisplayCat {
    display: grid;
    cursor: pointer;
    column-gap: 1rem;
    padding: 0.7rem 2rem;
    background-color: #034956;
    grid-template-columns: 1fr auto;
    transition: background-color 0.3s;
}

.btnDisplayCat img {
    transition: rotate 0.3s;
}

.btnDisplayCat:hover {
    background-color: #056f82;
}

.btnDisplayCatText {
    min-width: 8rem;
    text-align: left;
    color: #f6faf7;
    align-self: center;
}

/* ************************ btn show ************************ */
#categoriesShowBtn .btnDisplayCatText {
    min-width: auto;
    writing-mode: vertical-lr;
}

#categoriesShowBtn {
    column-gap: 0;
    padding: 2rem 0.7rem;
    transition: background-color 0.3s, padding-left 0.3s;
}

#categoriesShowBtn:hover {
    padding-left: 1.2rem;
}

.imgDisplayCat {
    width: 1rem;
    align-self: center;
}

/* ************************ btn hide ************************ */

.imgArrowDown {
    width: 1rem;
    align-self: center;
}

/*  ************************ opened catalog item ************************  */

#openCatItem {
    background-color: #056f82;
}

#openCatItem img {
    rotate: 180deg;
}

/* ************************ position absolute ************************ */

/* ************************ media queries ************************ */
@media (hover: none) {
    .btnDisplayCat:hover {
        background-color: rgba(0, 0, 0, 0);
    }
    #openCatItem:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    #categoriesShowBtn:hover {
        padding-left: 0.7rem;
    }

    .btnDisplayCat:active {
        background-color: #353d3f;
    }
}

@media (max-width: 640px) {
    .btnDisplayCat {
        padding: 0.7rem 1rem;
    }
}

@media (max-width: 480px) {
    #openCatItem .btnDisplayCatText {
        transition: all 0.3s;
        padding-left: 1rem;
    }

    .btnDisplayCat {
        padding: 1rem;
    }

    .btnDisplayCat:hover {
        background-color: rgba(0, 0, 0, 0);
    }

    #categoriesShowBtn {
        padding: 1rem;
    }

    #categoriesShowBtn:hover {
        padding: 1rem;
    }

    #categoriesShowBtn .btnDisplayCatText {
        writing-mode: horizontal-tb;
    }
    /* 
    .sidebarItem {
        transition: all 0;
        margin-bottom: 0;
        border-radius: 0;
        grid-area: 1/1/1/2;
        justify-self: stretch;
        border-top: 1px solid #F6FAF7;
    }

    #sorting {
        grid-area: 3/1/4/2;
    }

    #sidebarItem2 {
        padding-bottom: 0;
    } */
}
