/* personal page */

.main {
    display: grid;
    margin: 2rem 0;
    position: relative;
}

.avatar {
    padding: 0 5rem;
    align-self: flex-start;
}

.avatarPhotoWrap {
    width: 8rem;
    height: 8rem;
    margin: 0 auto;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border-radius: 100%;
    border: 1px solid #2d3436;
}

.avatarPhoto {
    top: 50%;
    left: 50%;
    width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.avatarName {
    font-weight: 400;
    margin: 0.2rem 0;
    font-size: 1.3rem;
    text-align: center;
}

.about {
    width: 60%;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 5px;
    padding: 1rem 2rem;
    border: 1px solid #2d3436;
}

.textAbout {
    width: 100%;
    height: auto;
    font-size: 1.3rem;
    white-space: pre-wrap;
}

/* btnToEdit */

.btnToEdit {
    display: block;
    width: min-content;
    border-radius: 100px;
    padding: 0.5rem 1.5rem;
    margin: 2rem auto 0 auto;
    border: 2px outset #1b9cfc;
}

.btnToEdit:hover {
    background-color: #e4f3ff;
}

.btnToEdit img {
    width: 2rem;
}

/* starsList */

.stars {
    margin-left: auto;
    margin-right: auto;
    width: min-content;
}

.starsList {
    display: flex;
    overflow: hidden;
    column-gap: 0.2rem;
}

.starsList {
    width: min-content;
}

.starsListAbs {
    position: absolute;
}

.starImg {
    width: 1.4rem;
    height: 1.4rem;
}

.reviews {
    margin-top: 0.2rem;
    opacity: 0.6;
    display: block;
    font-size: 0.9rem;
    text-align: center;
}

.reviews:hover,
.reviews:active {
    opacity: 1;
}

/* aside navbar*/

.aside {
    display: flex;
    row-gap: 0.5rem;
    position: absolute;
    flex-direction: column;
}

.btnOpenBlock {
    display: grid;
    transition: all 0.3s;
    padding: 2rem 0.7rem;
    background-color: #034956;
    border-radius: 0 10px 10px 0;
}

.btnOpenBlock:hover {
    padding-left: 1.2rem;
    background-color: #056f82;
}

.activeLink .btnOpenBlock {
    background-color: #056f82;
    cursor: default;
}

.activeLink:hover .btnOpenBlock {
    padding-left: 0.7rem;
}

.btnOpenBlockText {
    writing-mode: vertical-lr;
}

/* prod List */

.prodList {
    gap: 1rem;
    display: grid;
    margin: 0 3rem;
    align-self: flex-start;
    justify-content: center;
    grid-template-rows: repeat(auto-fill, 350px);
    grid-template-columns: repeat(auto-fill, 250px);
}

.addProdBtn {
    display: block;
    margin: 2rem auto;
    border-radius: 10px;
    white-space: nowrap;
    padding: 0.7rem 2rem;
    transition: all 0.3s;
    align-self: flex-start;
    background-color: #034956;
}

.addProdBtn:hover {
    background-color: #056f82;
}
