/* ************************ common ************************ */
.nav {
    width: 100%;
    margin: 0 auto;
    max-width: 530px;
    grid-area: 1/1/2/3;
}

/* ************************ search line ************************ */
.form {
    display: flex;
    background: #fff;
    border: 2px solid #034956;
    border-radius: 0 0 10px 10px;
    border-top: none;
}

.formWithRes {
    border-radius: 0;
}

/* ************************ input ************************ */
.input {
    flex: 1;
    padding: 0 1rem;
    border-bottom-left-radius: 8px;
}

.input::placeholder {
    opacity: 0.75;
    color: #034956;
}

/* ************************ input button ************************ */

.searchBtn {
    display: flex;
    padding: 0.5rem 1rem;
}

.searchBtn img {
    height: 1.125rem;
    align-self: center;
}

.searchBtnFormNotEmpty {
    border-radius: 0;
}

#btnFind img {
    height: 1.375rem;
}

.searchBtn:hover img,
.searchBtn:active img {
    animation: growth 0.3s ease-in-out;
}

@keyframes growth {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

/* ************************ selected ************************ */
.selectedWrap {
    width: 100%;
    display: grid;
    position: relative;
    justify-self: center;
}

.selectedList {
    width: 100%;
    z-index: 1;
    overflow: hidden;
    position: absolute;
    border-radius: 0 0 5px 5px;
    background-color: #034956;
}

.selectedItem {
    margin: 2px;
    margin-top: 0;
    display: block;
    cursor: pointer;

    padding: 0.5rem 1rem;
    background-color: #f6f6f6;
}

.selectedItem:last-child {
    border-radius: 0 0 3px 3px;
}

.selectedItem:hover {
    background-color: #dedede;
}

.selectedItemDis:hover {
    cursor: default;
    background-color: #f6f6f6;
}

.formNotEmpty {
    border-radius: 0;
}

.btnDisabled {
    cursor: default;
}

.btnDisabled:hover {
    background-color: #f6f6f6 !important;
}

.selectedItem,
.input {
    font-size: 1.1rem;
    font-weight: 500;
    color: #034956;
}

/* ************************ media ************************ */

@media (hover: none) {
    .searchBtn:hover,
    .searchBtnFormNotEmpty:hover {
        border-radius: 0 0 3px 0;
        background-color: #f6f6f6;
    }

    .searchBtn:active,
    .searchBtnFormNotEmpty:active {
        background-color: #dedede;
    }

    /* .searchBtn:hover .searchImg,
    .searchBtnFormNotEmpty:hover .searchImg {
        filter: none;
    } */
}

@media (max-width: 980px) {
    .form {
        width: 70%;
    }
}

@media (max-width: 640px) {
    .form {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .nav {
        display: grid;
        padding: 0.5rem 1rem 0 1rem;
        grid-area: 4/1/5/2;
        align-self: flex-start;
    }

    .form {
        width: 100%;
        padding: 2px;
        border-radius: 5px;
    }

    .searchBtn {
        padding: 0 1rem;
        border-radius: 0 3px 3px 0;
    }

    .input {
        min-width: 100px;
        padding: 1rem 1rem;
        border-radius: 3px 0 0 3px;
    }
}
