/* auth Wrap */
.authWrap {
    display: flex;
    flex-direction: column;
}

/* form window */
.formWindow {
    width: 100%;
    display: flex;
    overflow: hidden;
    max-width: 500px;
    margin-top: 2rem;
    position: relative;
    align-self: center;
    border-radius: 10px;
    flex-direction: column;
    border: 2px solid #034956;
    background-color: #034956;
}

.formSwitcher {
    display: flex;
    overflow: hidden;
}

.formSwitcher button {
    flex: 1;
    padding: 0.7rem 2rem;
    transition: all 0.3s;
}

.activeBtn {
    background-color: #056f82;
}

.formSwitcher button:hover {
    background-color: #056f82;
}

/* form */

.form {
    margin: auto;
    display: grid;
    row-gap: 0.5rem;
    width: min-content;
    padding: 2rem 4rem 1rem 4rem;
}

/* input  */

.inputLine {
    display: flex;
    justify-content: space-between;
}

.input {
    font-weight: 500;
    color: #034956;
    font-size: 1.1rem;
    align-self: center;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    background-color: #f6faf7;
    border: 2px solid #e2f1f2;
}

.input:focus {
    background-color: #f6faf7;
}

.inputError {
    border-color: #eb2f06;
}

.inputSuccess {
    border-color: rgb(0, 255, 0);
}

.label {
    padding: 0.5rem 0;
    margin-right: 2rem;
    width: min-content;
}

/* forgot password */
.helpText {
    opacity: 50%;
    margin-top: 0.5rem;
    text-align: center;
}

.helpText:hover {
    opacity: 80%;
}

/* button submit */
.btnSubmit {
    margin: auto;
    margin-top: 1rem;
    font-weight: 500;
    width: min-content;
    border-radius: 10px;
    transition: all 0.3s;
    background-color: #f26722;
}

.btnSubmit:hover {
    transform: scale(1.1);
}

/* error message */

.errorMessage {
    height: 1rem;
    float: right;
    color: #eb2f06;
    font-size: 0.8rem;
    margin-top: 0.1rem;
}
