/* avatar */

.avatar {
  margin-top: 2rem;
  align-self: center;
}

.avatarPhotoWrap {
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border-radius: 100%;
  border: 1px solid #2d3436;
}

.avatarPhoto {
  top: 50%;
  left: 50%;
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.avatarName {
  font-weight: 400;
  margin: 0.2rem 0;
  font-size: 1.3rem;
  text-align: center;
}

.about {
  width: 60%;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 5px;
  padding: 1rem 2rem;
  border: 1px solid #2d3436;
}

.textAbout {
  font-size: 1.3rem;
}

/* starsList */

.stars {
  margin-left: auto;
  margin-right: auto;
  width: min-content;
}

.starsList {
  display: flex;
  overflow: hidden;
  column-gap: 0.2rem;
}

.starsList {
  width: min-content;
}

.starsListAbs {
  position: absolute;
}

.starImg {
  width: 1.4rem;
  height: 1.4rem;
}

.reviews {
  margin-top: 0.2rem;
  opacity: 0.6;
  display: block;
  font-size: 0.9rem;
  text-align: center;
}

.reviews:hover,
.reviews:active {
  opacity: 1;
}
