.main {
}

/* avatar */

.user {
  width: 70%;
  display: grid;
  column-gap: 1.5rem;
  margin: 2rem auto;
  grid-template-columns: auto 1fr auto;
}

.avatar {
  align-self: center;
}

.avatarPhotoWrap {
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border-radius: 100%;
  border: 1px solid #2d3436;
}

.avatarPhoto {
  top: 50%;
  left: 50%;
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.avatarName {
  font-weight: 400;
  font-size: 1.3rem;
  margin-top: 0.2rem;
  text-align: center;
}

.about {
  overflow-y: auto;
  max-height: 15rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  border: 1px solid #2d3436;
}

/* стили scrolla */
.about::-webkit-scrollbar,
.sectionsList::-webkit-scrollbar {
  width: 12px;
  border-radius: 0 5px 5px 0;
  background-color: #fff;
  border-left: 1px solid #16191a;
}

.about::-webkit-scrollbar-thumb,
.sectionsList::-webkit-scrollbar-thumb {
  background-color: #16191a;
}

.sectionsList::-webkit-scrollbar {
  border-radius: 5px;
  border: 1px solid #16191a;
}

.sectionsList::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

.sectionsList {
  overflow: auto;
  row-gap: 0.5rem;
  max-width: 13rem;
  max-height: 15rem;
  padding-right: 1rem;
}

.sectionItem {
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  border: 1px solid #2d3436;
}

.sectionItem:last-child {
  margin-bottom: 0;
}

.sectionBtn {
  width: 100%;
  border: none;
  display: block;
  color: #2d3436;
  border-radius: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem 1rem;
}

.sectionBtn:hover {
  background-color: #ccc;
}

.sectionBtn:active {
  background-color: #bdbdbd;
}
