.header {
  display: grid;
  padding: 1rem 2rem;
  grid-template-columns: auto 1fr;
  background: linear-gradient(180deg, #353d3f 0%, #16191a 100%);
}

/* logo */

.logoBlock {
  display: grid;
  column-gap: 1.5rem;
  grid-template-columns: repeat(2, auto);
}

.logoImg {
  height: 3rem;
}

.logoName {
  color: #777;
  font-size: 1.6rem;
  align-self: center;
}

/* navigation */

.navBlock {
  display: flex;
  column-gap: 1rem;
  align-self: center;
  justify-self: flex-end;
}

/* media */

@media (max-width: 640px) {
  .header {
    padding: 1rem;
  }
  .navBlock {
    column-gap: 0.3rem;
    align-self: stretch;
    justify-self: flex-end;
  }

  .logoName {
    display: none;
  }
}

@media (max-width: 360px) {
  .header {
    row-gap: 1rem;
    grid-template-columns: auto;
  }

  .logoBlock {
    grid-template-columns: auto;
  }

  .logoImg {
    justify-self: center;
  }

  .navBlock {
    justify-self: center;
  }
}
