/* editor */
.editWrap {
    width: 100%;
    overflow: hidden;
    max-width: 1000px;
    align-self: center;
    position: relative;
    border-radius: 10px;
    border: 2px solid #034956;
    background-color: #034956;
}

.editTitle {
    padding: 1rem;
    font-size: 1.5rem;
    color: #f6faf7;
    text-align: center;
    background-color: #056f82;
}

.btnCancel {
    top: 0;
    right: 0;
    padding: 1rem;
    cursor: pointer;
    position: absolute;
}

.btnCancel:hover {
    animation: growth 0.3s ease-in-out;
}

.btnCancel img {
    width: 1.5rem;
    height: 1.5rem;
}

.smallBtn {
    width: 1rem;
    padding: 0.1rem;
    filter: invert(1);
}

/* form */

.editForm {
    row-gap: 1rem;
    margin: auto;
    display: flex;
    padding: 1rem 2rem;
    flex-direction: column;
}

.label {
    display: flex;
    justify-content: space-between;
}

.labelText {
    font-weight: 400;
    color: #f6faf7;
    align-self: center;
}

.input {
    width: 80%;
    color: #034956;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    border: 2px solid #f6faf7;
    background-color: #f6faf7;
}

.input:focus {
    background-color: #f6faf7;
}

/* list */

.radioWrap {
    width: 80%;
    cursor: pointer;
    text-align: left;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    background-color: #f6faf7;
    border: 2px solid #f6faf7;
}

.formValue {
    overflow: hidden;
    background-color: #f6faf7;
}

.formValue img {
    transform: rotate(180deg);
}

.btn img {
    transition: transform 0.3s;
}

.btn {
    width: 100%;
    border: none;
    display: flex;
    cursor: pointer;
    text-align: left;
    overflow: hidden;
    padding: 0.5rem 1rem;
    justify-content: space-between;
}

.btn:hover {
    background-color: #e2f1f2;
}

.arrowDown {
    width: 1rem;
    align-self: flex-end;
    filter: invert(1);
}

.selectItem button,
.catName {
    height: 1.3125rem;
    font-weight: 500;
    color: #034956;
}

.selectItem button {
    height: auto;
}

.textarea {
    height: 12rem;
    resize: none;
}

.textarea:focus {
    outline: none;
}

.photosList {
    display: flex;
    column-gap: 0.25rem;
}

.photoItem {
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    border: 1px solid #16191a;
}

.photo {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
}

.fileField {
    display: flex;
    justify-content: space-between;
}

.fileInputWrap {
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    border-radius: 3px;
    position: relative;
    border: 1px solid #16191a;
}

.fileInputWrap:hover {
    animation-name: pop;
    animation-duration: 0.5s;
}

.fileInput {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    position: absolute;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    0% {
        transform: scale(1);
    }
}

.imgPlus {
    top: 50%;
    left: 50%;
    width: 80%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.submit {
    cursor: pointer;
    font-weight: 500;
    font-size: 1.1rem;
    align-self: center;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    background-color: #f26722;
}

.submit:hover {
    animation: growth 0.3s ease-in-out;
}

/* errors */

.errorMessage {
    color: red;
    font-size: 0.8rem;
    text-align: right;
    padding-top: 0.1rem;
}

.inputError {
    animation-name: shaking;
    animation-duration: 0.5s;
    background-color: rgb(255, 200, 200);
}

@keyframes shaking {
    0% {
        transform: translateX(0rem);
    }
    30% {
        transform: translateX(-0.5rem);
    }
    60% {
        transform: translateX(0.5rem);
    }
    100% {
        transform: translateX(0rem);
    }
}

/* avatar field */

.avatarField {
    width: 8rem;
    height: 8rem;
    position: relative;
    align-self: center;
}

.avatarBtn {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    position: absolute;
    border-radius: 100px;
    background-color: #f6faf7;
    border: 2px solid #f6faf7;
}

.avatarBtn img {
    width: 100%;
    height: 100%;
}

.avatarInput {
    width: 0;
    height: 0;
    opacity: 0;
}

.avatarBtn:hover .avatarImgAdd {
    animation-name: growth;
    animation-duration: 0.3s;
}

.changePasBtn {
    margin: auto;
    border: none;
    opacity: 0.75;
    cursor: pointer;
    color: #f6faf7;
    width: max-content;
    background-color: none;
}

@keyframes growth {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}
