/* form wrap */
.wrap {
  position: relative;
  width: min-content;
  border-radius: 5px;
  justify-self: center;
  align-self: flex-start;
  margin: 3rem 1rem 0 1rem;
  border: 4px solid #16191a;
}

.title {
  color: #eee;
  margin: 0 auto;
  cursor: default;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: #16191a;
}

/* form */

.form {
  margin: auto;
  display: grid;
  row-gap: 0.5rem;
  width: min-content;
  padding: 2rem 4rem 1rem 4rem;
}

/* input  */

.inputLine {
  display: flex;
  justify-content: space-between;
}

.input {
  align-self: center;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 1);
}

.inputError {
  border-color: rgb(255, 0, 0);
}

.inputSuccess {
  border-color: rgb(0, 255, 0);
}

.label {
  padding: 0.5rem 0;
  margin-right: 2rem;
  white-space: nowrap;
}

/* forgot password */
.helpText {
  opacity: 50%;
  margin-top: 0.5rem;
  text-align: center;
}

.helpText:hover {
  opacity: 80%;
}

/* button  */
.button {
  margin: auto;
  margin-top: 1rem;
  font-weight: 400;
  color: #16191a;
  width: min-content;
  border: 1px solid #16191a;
}

.button:hover {
  background-color: #16191a1f;
}

/* Response message */

.message {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
}

.messageText {
  font-size: 1.5rem;
  color: #16191a;
  position: relative;
  align-self: center;
  justify-self: center;
  background-color: rgb(255, 255, 255);
}

/* error message */

.errorMessage {
  height: 1rem;
  float: right;
  color: red;
  font-size: 0.7rem;
  margin-top: 0.1rem;
}

/* avatar field */

.avatarWrap {
  width: 8rem;
  height: 8rem;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 1rem;
  justify-self: center;
  border-radius: 100px;
  background-color: #fff;
  border: 1px solid #16191a;
}

.noAvatar {
  width: 100%;
  height: 100%;
  display: grid;
  overflow: hidden;
  position: relative;
}

.fileInput {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
  position: absolute;
}

.addAvatar {
  width: 60%;
  align-self: center;
  justify-self: center;
}

.noAvatar:hover .addAvatar {
  animation-name: pop;
  animation-duration: 0.5s;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  0% {
    transform: scale(1);
  }
}
