.loading {
  width: 100%;
  height: 100%;
  display: grid;
}

.loadingPointsNumb,
.loadingText {
  font-size: 2rem;
}

.loadingText {
  position: relative;
  align-self: center;
  justify-self: center;
}

.loadingPointsNumb {
  position: absolute;
}
