/* ************************ common styles ************************ */

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  color: #2d3436;
  font-family: "roboto";
  box-sizing: border-box;
  letter-spacing: 0.05rem;
}

input {
  border: none;
  outline: none;
}
input:focus {
  background-color: #fff;
}

body,
html,
#root,
.wrapper {
  height: 100%;
}

body {
  background-color: #f6f6f6;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.main {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
}

/* button */
.btn {
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 1px;
  padding: 0.5rem 2rem;
  transition: all 0.3s;
  background-color: #f6f6f6;
}

.btn:focus {
  outline: none;
}

.btn:hover,
:focus {
  background-color: #bbb;
}

.btn:active {
  background-color: #aaa;
}

/* list */

li {
  list-style-type: none;
}

/* ************************ fonts ************************ */

@font-face {
  src: url("./fonts/Roboto-Medium.ttf") format("truetype");
  font-family: "roboto";
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-family: "roboto";
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url("./fonts/Roboto-Light.ttf") format("truetype");
  font-family: "roboto";
  font-style: normal;
  font-weight: 300;
}

@font-face {
  src: url("./fonts/Roboto-Italic.ttf") format("truetype");
  font-family: "roboto";
  font-style: italic;
  font-weight: 400;
}

@font-face {
  src: url("./fonts/Roboto-LightItalic.ttf") format("truetype");
  font-family: "roboto";
  font-style: italic;
  font-weight: 300;
}

/* ************************ media ************************ */

@media (max-width: 640px) {
}

@media (max-width: 380px) {
  html {
    font-size: 14px;
  }
  .btn {
    padding: 1rem 2rem;
  }
}

@media (max-width: 300px) {
  * {
    font-size: 14px;
  }
}
