/* ************************ common styles ************************ */

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: #f6faf7;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

input {
    border: none;
    outline: none;
    background-color: #00000000;
}

input:focus {
    background-color: #00000000;
}

html,
#root,
.wrapper {
    height: 100%;
    min-height: 100vh;
}

#root {
    background-color: #f6faf7;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.main {
    display: grid;
    position: relative;
    padding-bottom: 2rem;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, auto) 1fr;
}

/* ************************ button ************************ */
button {
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    background: #00000000;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button:hover,
button:focus {
    outline: none;
}

/* list */

li {
    list-style-type: none;
}

/* input */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

/* disabled */

*:disabled {
    cursor: default !important;
    opacity: 90% !important;
    pointer-events: none;
}

/* sidebar */

.sidebarWrapper {
    grid-area: 3/1/4/2;
    position: relative;
}

.sidebar {
    display: flex;
    row-gap: 0.5rem;
    position: absolute;
    flex-direction: column;
}

/* loading */

.loading {
    transition: all 0.5s;
    opacity: 0.9;
}

/* ************************ fonts ************************ */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

/* ************************ media ************************ */

@media (max-width: 640px) {
}

@media (max-width: 480px) {
    .main {
        grid-template-rows: repeat(5, auto) 1fr;
        grid-template-columns: 1fr;
    }
    .btn {
        padding: 1rem 2rem;
    }
}

@media (max-width: 380px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 300px) {
    * {
        font-size: 14px;
    }
}
