/* ************************ common ************************ */
.nav {
  display: grid;
  grid-area: 1/1/2/3;
  align-self: flex-start;
}

/* ************************ search line ************************ */
.form {
  width: 50%;
  display: grid;
  column-gap: 2px;
  justify-self: center;
  align-self: flex-start;
  padding: 0 2px 2px 2px;
  border-radius: 0 0 5px 5px;
  background-color: #16191a;
  grid-template-columns: 1fr auto;
}

/* ************************ input ************************ */
.input {
  padding: 0.5rem 1rem;
  border-radius: 0 0 0 3px;
  background-color: #f6f6f6;
}

.input::placeholder {
  color: #16191a;
}

.input:active,
.input:focus {
  color: #16191a;
  background-color: #fff;
}

/* ************************ input button ************************ */
#searchBtn {
  transition: all 0.3s;
  border-radius: 0 0 3px 0;
  background-color: #f6f6f6;
}

#searchBtn:hover {
  border-radius: 5px;
  background-color: #16191a;
}

#searchBtn:hover .searchImg {
  filter: invert(1);
}

.searchImg {
  height: auto;
  transition: all 0.3s;
}

/* ************************ media ************************ */
@media (max-width: 980px) {
  .form {
    width: 70%;
  }
}

@media (max-width: 480px) {
  .nav {
    display: grid;
    grid-area: 3/1/4/2;
    padding: 1rem;
    align-self: flex-start;
  }

  .form {
    width: 100%;
    padding: 2px;
    border-radius: 5px;
  }

  #searchBtn {
    padding: 0 1.5rem;
    border-radius: 0 3px 3px 0;
  }

  .input {
    min-width: 100px;
    padding: 1rem 1rem;
    border-radius: 3px 0 0 3px;
  }
}
