.nav {
  display: grid;
  grid-area: 1/1/1/3;
  align-self: flex-start;
}

.form {
  width: 60%;
  display: grid;
  column-gap: 2px;
  justify-self: center;
  padding: 0 2px 2px 2px;
  border-radius: 0 0 2px 2px;
  background-color: #16191a;
  grid-template-columns: 1fr auto;
}

.input {
  padding: 1rem;
  border-radius: 0 0 2px 2px;
  background-color: #f6f6f6;
}

.input::placeholder {
  color: #16191a;
}

.input:active,
:focus {
  color: #16191a;
  background-color: #fff;
}

#searchBtn {
  border-radius: 0 0 2px 2px;
}

.searchImg {
  height: auto;
}

@media (max-width: 980px) {
  .form {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .form {
    width: 100%;
    border-radius: 0;
    padding: 0 2px 2px 2px;
  }

  #searchBtn {
    padding: 0.8rem;
    border-radius: 2px;
  }

  .input {
    border-radius: 2px;
  }
}

@media (max-width: 380px) {
}

@media (max-width: 300px) {
}
